body {
  font-family: "Times New Roman", san-serif;
  font-size: 0.6875em;
  background: #121214;
}
.container {
  background-color: #121214;
  width: 1000px;
  height: auto;
  color: #595959;
  margin: 0 auto;
}
.block__right {
  background-color: #242328;
  float: left;
  width: 25%;
  height: 65%;
  margin-top: 20px;
}
.block__left {
  float: left;
  width: 40%;
  margin: 20px 26px 0px 5px;
}
.block__picture {
  float: left;
}
.block__info {
  float: left;
  width: 61%;
  padding-left: 27px;
}
.title__main {
  margin-bottom: 50px;
}
.title__info {
  margin-top: 0px;
  color: rgb(255,255,255);
}
.title__info--modify {
  margin-block-end: 0em;
}
.block__left__bottom {
  clear: left;
  margin-left: 10px;
}
.block__left__bottom__more {
  background-image: url(../images/arr.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
  text-decoration: none;
}

.block__left__bottom hr {
  border-color: #121214;
  background-color: #121214;
  color: #121214;
  border-top: 1px dotted #595959;
  clear: left;
}
.block__left__bottom__content {
	margin-top: 85px;
}
.block__left__bottom__content a {
  color: #595959;
}
.block__left__bottom__content p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.block__left__bottom__content__list {
  list-style-image: url(../images/arrlist.gif);
  padding-left: 10px;
  float: left;
  margin-top: 25px;
}
.block__left__bottom__content__list li {
  padding-bottom: 15px;
}
.block__sidebar ul {
  padding-bottom: 15px;
}
.block__right hr {
  border: 1px solid #353439;
  margin:95px 25px 0px 25px;
}

.block__right img {
  display: block;
  margin: 25px auto 25px auto;
}

.block__right__content {
  margin-left: 35px;
}
.block__right__content--modify {
  margin-bottom: 0px;
}
.block__right__content span {
  color: #767884;
}
.block__right__content a {
  display: inline-block;
  margin-top: 30px;
}
.--margin {
  margin-bottom: 40px;
}