* {
  margin: 0;
  padding: 0;
}
body {
  font-family:  "Arial", Verdana, Sans-serif;
  font-size: 12px;
  color: #000000;
}

.container {
  width:316px;
  margin: 10px auto 0px auto;
  background-color:#e6f3fb;
  padding: 2px 9px 17px 11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.title {
  font-weight:bold;
  margin:0px 0px 0px 1px;
  line-height: 0.9375;
  padding-bottom:1px;
}

.article__blogroll {
  border-top:4px solid #f7a418;
  padding: 7px 0px 12px 8px;
  display:flex;
  background-color:white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.article__blogroll .picture {
  width:156px;
  height:81px;
}

.article__blogroll .article__content {
  width:107px;
  margin:0px 0px 0px 7px;
}

.article__title {
  font-weight: bold;
}

.article__info {
	line-height: 1.25;
}

.font__style--italic {
	font-style: italic;
}
.link__style {
  color: #0A6395;
  text-decoration:none;
}
.block__blogroll ul li {
  margin:0px 0px 1px 0px;
  line-height: 1.25;
  padding: 7px 0px 12px 10px;
  background-color:#f9f1c2;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.block__blogroll li {
  background-color:#f9f1c2;
}
.block__blogroll ul {
	list-style-type:none;
	background-color: white;
}


.block__horoscopes {
	margin-bottom:21px;
	padding-top: 4px;
}
.block__news {
  margin-top: 20px;
}
.article__horoscopes {
  border-top:4px solid #f7a418;
  padding:20px 0px 22px 14px;
  display:flex;
  background-color:white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.article__horoscopes .article__content {
  width:178px;
  margin-left:25px;
}

.article__horoscopes .article__content .article__title {
  margin-top:4px;
  font-size: 15px;
  color: #000000;
}

.article__date {
  margin-bottom:5px;
  line-height: 1.36;
  color: #595959;
}
.article__horoscopes .article__content .article__info {
  margin-left: -10px;
}
.article__horoscopes .picture {
  height:85px;
}
.--decoration {
  text-decoration: underline;
}
.credit {
  height:23px;
  background-color:#f4f4e6;
  line-height: 1.27;
  background-image:url(../images/img3.png);
  background-repeat:no-repeat;
  padding: 12px 0px 12px 23px;
}
.credit a {
  font-weight:bold;	
}

.article__news {
  border-top:4px solid #f7a418;
  padding:30px 146px 11px 23px;
  background-color:white;
  background-image:url(../images/img4.png);
  background-repeat:no-repeat;
  background-position:right;
}

.article__news .article__content {
  line-height: 15px;
  margin-bottom: 5px;
}

.article__news {
  line-height: 1.25;
}

.block__competion {
  padding-top: 5px;
  margin-top:8px;	
  border-top:2px solid #595959;
}

.title__competions {
  line-height: 1.07;
  font-weight: bold;
}

.competion__info {
  padding:11px 47px 8px 8px;
  list-style-type:none;
  margin:0px;
  background-color:white;
  border:1px solid #595959;
}
.competion__info a {
  color:#4d5d73;
}