* {
  margin: 0;
  padding: 0;
  font-size: 0;
}
body {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}
.container {
  width: 100%;
}
.content a{
  position: absolute;
}
div {
  width: 100%;
}
.content__btn__1 , .content__btn__2, .content__btn__face{
  position: relative;
}
.content__btn__1 a {
  top: 14%;
}
#qr-2 {
 left: 50.8%; 
}
#qr-1 {
  left: 12.6%;
}
.content__btn__2 a {
  bottom: 11%;
}
#qr-3 {
  left: 24%;
}
#qr-4 {
  right: 23.5%;
}
#qr-5 {
  top: 14%;
  left: 29.2%;
}