*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.header {
  width: 100%;
}
.header__body {
  background: #666666; 
}
.header-text {
  margin: 12.5% 33.5%;
  width: 33%;
}
.header__caution {
  width: 40%;
  float: right;
  margin-right: 5%;
  margin-bottom: 1%;
}

.header > img {
  display: flex;
  width: 100%;
}
.header__body__content {
  clear: right;
  background-color: #333333;
  text-align: center;
  padding: 40px 0px;
}
.header__body__content  img{
  width: 70%;
}
.content {
  background: #eeeeee;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.content h1 {
  text-align: center;
  width: 100%;
  margin-top: 45px;
}
.row {
  width: 50%;
  text-align: center;
  align-items: center;
}

.row h3 {
  border-top: 1px solid black;    
  padding: 20px 0px;
  text-align: center;
  margin: 48px 45px 0px 45px;
}
p {
  margin: 20px 40px;
  text-align: left;
  min-height: 120px
}
.info {
  min-height: 0px;
  font-size: 0.8em;
  background-color: #cccccc;
  padding: 20px;
  text-align: left;
}
.blood-js {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  position: relative;
}
.footer img {
  width: 100%;
}
.--margin-bootom {
  margin-bottom: 10%;
}
.--content__effect-js {
  background-color: #000000;
  color: #840000;
}
.--content__effect-js > .row p {
  color: #850000;
}
.--content__effect-js > .row h3 {
  border-color: #330000;
}
.--content__effect-js > .row > .info {
  background-color: #330000;
}
.--header__body__content__effect-js {
  background-color: #330000;
  color: #867d7d;
}
@media only screen and (max-width:1279px) {
  p{
    margin: 0;
  }
  .row {
    width: 100%;
  }
  .row img {
    width: 100%;
  }
}
@media only screen and (max-width:640px) {
  body{
    font-size: 16px;
  }
}