body {
  margin: 0 auto;
  width: 1265px;
  height: auto;
  background-color: #121214;
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-size: 11px; 
}
.container {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  color: #595959;
}

.block__header {
  width: 1265px;
  height: auto;
}
.block__header__nav {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.block__header__nav__items {
  margin-top: 195px;
  padding-right: 6px;
  float: left;
  color: #fff;
  text-align: center;
}
.block__header__nav__items p {
  font-size: 15px;
}
.block__sidebar {
  float: left;
  background-color: #1f1f1f;
  margin-top: 70px;
  width: 235px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 35px;
}

.block__sidebar ul {
  list-style-image: url(../images/arrlist.gif);
  margin-left: 5px;
}
.block__sidebar li {
  margin-bottom: 15px;
}
.block__sidebar a {
  color: #595959;
}

.block__content {
  float: left;
  width: 430px;
  margin-top: 70px;
  margin-left: 40px;
  padding-right: 0px;
  padding-top: 53px;
  padding-bottom: 20px;
}

.block__content img {
  margin-bottom: 20px;
}

.--modify__style {
  clear: left;
  border-color: #121214;
  background-color: #121214;
  color: #121214;
  border-top: 1px dotted #595959;
  margin-top: 15px;
  margin-bottom: 15px;
}
.block__sidebar p {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #2c2c2c;
  padding: 28px 0px 67px 11px;
  margin: 20px 20px 20px 20px;
}
.block__content--margin {
  margin: 0px 10px 45px 15px;
}
.block__content--margin  p{
  margin-right: 10px;
}
.--color{
  color: #fff;
}
.block__content input {
  background-color: #2c2c2c;
  border-width: 0;
  width: 115px;
}
.block__content__more {
  background-image: url(../images/arr.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 25px;
  padding-left: 15px;
  text-decoration: none;
}
.link {
  color: #595959;
}
.block__footer {
  clear: left;
  width: 654px;
  color: #595959;
  font-size: 10px;
  line-height: 1.5;
  margin-top: 24px;
}
.block__footer p {
  margin-left: 10px;
}
