* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-size: 15px; 
}
.page {
  width: 500px; 
  margin: 10px auto 0 auto;
  border: 1px solid #0033FF;
  padding-bottom: 6px; 
}
h1{
  margin-bottom: 5px;
}
.user__avatar {
  float: left; 
  margin-left: 14px; 
  margin-right: 5px; 
  width: 90px;
  height: 100px;
}

.title__profile {
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-image: url("../images/shadowTitle.png");
 }
.user__info {
  height: 100px;
  overflow: scroll;
  padding-left: 10px;
}

.title {
  font-size: 18px;
  line-height: 1.24; 
  margin-top: 0px; 
  padding-left: 2px; 
}

.title__fact {
  margin-top: 15px;
  margin-bottom: 20px;
}

.user__fact {
  margin-right: 50px;
}
.fact__content {
  list-style: none;
  margin-left: 40px;
  margin-bottom: 60px;
}
.fact__content li {
  margin-bottom: 10px;
}
ul li:before {
  content: url("../images/star.gif");
  margin-right: 4px;
}

.comment__posted {
  position: relative;
  height: 60px;
}

.comment__content:after {
  position:absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #ECECEC;
  height:0;
  width:0;
  top:100%;
  left:4%;
  content: "";
}
  
.comment__content {
  position:absolute;
  background-color:#ECECEC;
  width:475px; 
  padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  line-height:1.07;
  margin-left:2px;
}
  
.comment__detail {
  position:absolute;
  top:44px;
  left:55px;
  font-size:13px;
  line-height:1.23;
}
a{
  text-decoration: none;
}

.form__title {
  font-size:17px;
  line-height:0.6;
  margin-bottom:3px;
  margin-top:30px;
  text-align:center;
}

.form__label {
  width: 106px;
  line-height:10px;
  margin-right: 10px;
}

.form__textarea {
  width: 382px;
  height: 84px;
  line-height:0.6;
  margin-right: 5px;
  padding-top: 5px;
}

.row{
  margin-top:3px;
  margin-left:5px;
  display: flex;
  align-items: center;
}
